.LandCont {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LandmCont 
{
    width: 97.8%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Landm1 {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Landm2 {
    height: 100%;
    width: 50%;
    object-fit: contain;
    overflow: hidden;
    background-color: white;
}

.Landm1-cont {
    width: 90%;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Landm1-cont h1 {
    font-weight: bolder;
    font-size:4rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    color: black;
}

.landbuttoncont {
    width: 100%;
    height: 10em;

    display: flex;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 943px) {
    .LandmCont {
        height: 100%;
        flex-direction: column-reverse;
    }
    .Landm1 {
        height: 50%;
        width: 100%;
    }
    .Landm1-cont {
        justify-content: right;
    }
    .Landm1-cont h1 {
        font-size: 2rem;
        text-align: center;
    }
    .Landm2 {
        height: 50%;
        width: 100%;
        margin-bottom: 10px;
    }
    .Landm1-cont div {
        margin-top: 10px;
        text-align: center;
    }
    .Landm1-cont div span {
        text-align: center;
    }
    .css-15bt6gt {
        display : none;
    }


}
